NODE_ENV=development
HOST=0.0.0.0
VERIFIEDWEB_APP_URL=https://verified.it.com/web/
VERIFIEDWEB_APP_NAME="Verified (Instant Background Checks)"
VERIFIEDWEB_APP_ENV=development
VERIFIEDWEB_APP_DEBUG='false'
VERIFIEDWEB_APP_KEY='base64:LsZSjS3c='
VERIFIEDWEB_DB_CONNECTION=mysql
VERIFIEDWEB_DB_HOST=0.0.0.0
VERIFIEDWEB_DB_PORT=3307
VERIFIEDWEB_DB_DATABASE=db_verified
VERIFIEDWEB_DB_USERNAME=produser
VERIFIEDWEB_DB_PASSWORD=4hRFsdu
VERIFIEDWEB_MAIL_HOST=mail.verified.it.com
VERIFIEDWEB_MAIL_PORT=465
VERIFIEDWEB_MAIL_USERNAME=no-reply@verified.it.com
VERIFIEDWEB_MAIL_PASSWORD='12133d94132412'
VERIFIEDWEB_MAIL_FROM_ADDRESS="no-reply@verified.it.com"
VERIFIEDWEB_MAIL_FROM_NAME="Verified (Instant Background Checks)"
STORE_PORT=5400
VERIFYID_PORT=5434
IMAGE_TRANSCODER_PORT=5693
PAYMENTS_PORT=5436
FB_NOTIF_PORT=4309
CDN_PORT=4334
PUBLICHOST=0.0.0.0
VERIFYID_3RD_PARTY_TOKEN='ce2e221jw'
FTP_USER_HOME=/home/developer/projects/verified/server
PAYMENT_EVENTS_SECRET='whsec_erer32423fc='
PAYMENTS_TOKEN=sk_test_hLifMQZxBZJ
FB_SERVER_TOKEN=CgioPxzkBb4hLifMQZxBZJ
VERIFIED_INFLUXDB_ADMIN_PASSWORD='ax35942754'
VERIFIED_INFLUXDB_ADMIN_USER=produser
VERIFIED_INFLUXDB_DB=telegraf
VERIFIED_INFLUXDB_ORG=verified_org
VERIFIED_INFLUXDB_BUCKET=verified_bkt
VERIFIED_INFLUXDB_TOKEN='42r4f4242wdr'
CDN_BASE_URL=https://verified.it.com/cdn/
VERIFIED_ADMIN_EMAIL=dev@byteestudio.com
NOTION_TOKEN='InpqQjJVTVJ2VDFCQTJ'
NOTION_DATABASE_ID=02cf7d89-06f4-4504-8b89-3a0f6be6fff6
NOTION_USER=de5d6a02-26e8-41d6-a492-9b4fcdddc8f1
NOTION_USERS=one,two
OAUTH_DOCKER=4492ba0b6
SERVICE_ACCOUNT_PATH=37fb20cf-bea2-49b4-95a0-5b2b47020dee
VERIFIED_NOTIFICATIONS_TOKEN=4e2076a1-31cc-48b7-9557-f0fa748a3770
VERIFIED_NOTIFICATIONS_SERVER=655b1003-9367-4d81-8f7a-d4f1cc01fbee